body{
    margin: 0;
    background-color: floralwhite;
    font-family:"Arial";
}
#navbar {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    padding:0 40px;
}
#logo {
    display: grid;
    justify-content: start;
    align-content: center;
}
#links {
    display: grid;
    column-gap: 1em;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
}

#navbar a {
    text-decoration:none;
    color: grey;
}
#portada{
    display: grid;
}
#portada img {
    width: 100%;
}
.section{
    display: grid;
    justify-content: center;
    padding: 5%;
    grid-template-columns: 60%;
}
#titulo_art{
    text-align: center;
    line-height: 0em;
}
#subtitulo_art{
    text-align: center;
}
#art{
    display: grid;
    grid-auto-flow: column;
    column-gap: 5%;
}
#img{
    display: grid;
    justify-items: center;
}
.imagen_art img{
    width: 100%;
    
}
.button{
    border:none;
    padding:5px;
    border-radius: 4px;
    background-color: darksalmon;
    width: 100%;
}
.button:hover{
    background-color: salmon;
}
#sect_alt{
    background-color: rgb(201, 201, 201);
}
#img2{
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}
#img3{
    display: grid;
    justify-content: end;
}